.skillSection,
.projectSection {
    width: 100%;
    height: 100vh;
    background-color: #0A021D;
    color: #093145;
    padding: 3rem 5rem;
}

.cards,
.projectCards {
    min-height: 60vh;
    margin: 3.5rem 5rem;
    display: flex;
    justify-content: space-between;
}

/* .projectCards {
    position: relative;
}

.projectNavigation {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}


.projectNavigation p:first-child {
    position: absolute;
    left: -6rem;
}

.projectNavigation p {
    position: absolute;
    right: -6rem;
}
.projectNavigation p:hover{
    cursor: pointer;
} */