.skillSection,
.projectSection {
    width: 100%;
    height: 100vh;
    background-color: #0A021D;
    color: #093145;
    padding: 3rem 5rem;
}

.cards,
.projectCards {
    min-height: 60vh;
    margin: 4rem 5rem;
    display: flex;
    justify-content: space-between;
}

